/*css ejemplo. selector { declaración }*/
/*Selector puede ser universal, tipo, clase o id y se pueden agrupar(ejemplo con clase)*/

/*Si antes del . o # hay tipo, solo a ese tipo se aplica el estilo */
/*Si una clase tiene espacio, sustituir por .*/

/*De atributos a[atrib], solo sitiene el atributo, se puede [a="tal"], puede ser ^= empieza por la cadena; 
$= termina por la cadena; *= contiene la cadena*/
/*Pseudoclases a:clase, segun el estado de a, como a:visited, enlace vistitado*/
/*Pseudoelementos a::elemento, elemento de a, como a::first-letter, solo la 1a letra*/

* {
    font-family: Arial, Helvetica, sans-serif;  /*Tipo de letra */
    font-weight: bold;                          /*Grosor de letra*/
    text-align: center;                         /*Alineación del texto*/
    line-height: normal;                        /*Altura de línea*/
    overflow: hidden;                           /*Controla el desbordamiento del contenido*/
    text-decoration: underline;                 /*Decoración del texto*/
    text-transform: none;                       /*Transformación del texto*/
}

h1 {
    color: rgb(255, 0, 183);                  /*Da color a las letras*/
    font-size: 19px;                /*Tamaño de letra*/
    margin: 20px;                   /*Margen, espacio fuera del borde*/
    padding: 10px;                  /*Relleno, espacio dentro del borde*/
    border: 1px solid black;      /*Borde, con ancho, estilo y color*/
    border-radius: 8px;             /*Bordes redondeados, con radio de 8px*/
    cursor:pointer;                 /*Cambiar el cursor al pasar sobre el elemento*/
    background-image: url("../html/ejemplo.jpg");   /*Imagen de fondo, con la ruta de la imagen*/
    background-size: cover;                          /*Tamaño de fondo*/   
}

.clase, .clase2 {/*Se aplica a elementos con clase "clase" o "clase2"*/
    background-color: rgb(28, 0, 128);          /*Color de fondo, con formato RGB*/
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);     /*Sombra, con desplazamiento horizontal, vertical, desenfoque y color RGBA*/
    transition: all 0.3s ease;          /*?*/     /*Transición, con propiedades a animar, duración y función de tiempo*/
}

#id {
    width: 300px;   /*Ancho del elemento*/
    height: 200px;  /*Alto del elemento*/
    right: 20px;    /*Posición desde la parte derecha del contenedor, esta top left y bottom*/
    opacity: 0.8;   /*Opacidad, valor entre 0 (transparente) y 1 (opaco)*/
}



/*Combinadores*/
p.clase2 {/*Solo se aplica si el elemento es un párrafo de "clase2", funciona para id tambien*/
    color: red;
}

.clase p{/*Descendente, para todos los parrafo dentro de "clase"*/
    background-color: rgb(83, 128, 82);
}

ul > li {/*Hijo, solo para los hijos directos*/
    background-color: rgb(0, 255, 191);
}

h2 + p {/*Adyacente/1er hermano, solo para el primer hermano siguiente*/
    background-color: rgb(191, 255, 0);
}

h2 ~ p {/*General, para todos los hermanos siguientes*/
    font: 1.2em sans-serif; /*ajusta todo de font*/
}